<ion-view view-title="Trivia">
  <ion-content>
    <div class="container">
      
      <h4>Last Game</h4>
      <div>answered: {{user.mostRecentGame.questionsAnswered}}</div>
      <div>correct: {{user.mostRecentGame.questionsAnsweredCorrect}}</div>
      <div>XP earned: {{user.mostRecentGame.xpEarned}}</div>

    </div>
    
    <button class="button button-royal button-block btn-play" ui-sref=".play" ng-click="newGame()">Create Game</button>

    <label class="item item-input">
      <input type="text" placeholder="Game Code" id="formCode">
    </label>

    <button class="button button-royal button-block btn-play" ui-sref=".play" ng-click="joinGame()">Join Game</button>
  </ion-content>
</ion-view>
  